{%extends 'base.html'%}
{%block content%}

<div style="display: flex; flex-direction:column; justify-content:center; align-items:center;"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% for product in products %}
    <div class="card mb-3" style="max-width: 800px">
      <div class="row g-0">
        <div class="col-md-4">
          <img style="width: 300px; height: auto;" src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'detail' product.id %}"<a href="#">{{ product.name }}</a></h5>
            <p class="card-text">{{product.description|truncatechars:203 }}</p>
            <p class="card-text"><small class="text-muted">{{product.price}} com</small></p>
          </div>
        </div>
      </div>
    </div>
{%endfor%}
</div>
{% endblock %}

